@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#chapter-20 [epub|type~="z3998:letter"] p{
	margin-top: 1em;
	text-indent: 0;
}
/* end letters */

/* verse and song */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* end verse and song */

/* all epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* end all epigraphs */

/* postscript */
[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end postscript */

/* subsection */
p[epub|type~="z3998:subsection"]{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: center;
	text-indent: initial;
}

#dramatis-personae [epub|type~="z3998:subsection"] + p{
	text-align: center;
	text-indent: initial;
}
/* end letter subsection */

/* inscription blockquote */
#chapter-40 blockquote{
	text-align: center;
}
/* end inscription blockquote */

/* language styling */
body [xml|lang]{
	font-style: italic;
}
/* end language styling */

/* preface */
#preface [epub|type~="z3998:signature"]{
	margin-top: 1em;
	text-align: right;
}
/* end preface */
